[Desktop Entry]
Name=Event Store Explorer
Exec=org.gnome.EventStoreExplorer
Type=Application
Categories=Development;Database;
X-Desktop-File-Install-Version=0.23
